@WHITE: #FFFFFF;
@DARK: #142C41;
@BLUE: #008297;
@BLUE_DARK: #425565;
@BLUE_DARK_2: #465969;
@BLUE_DARKER: #485263;
@RED: #CF2F35;
@RED_LIGHT: #fae5e5;
@ORANGE: #F0512C;
@ORANGE_LIGHT: #fff7d1;
@ORANGE_DARK: #df3d17;
@ORANGE_DARKEST: #6f4400;
@GREEN_LIGHT: #e5efe5;
@GREEN_DARKEST: #006400;

@GREY: #E4EBF7;
@GREY_LIGHT: #617280;
@GREY_LIGHTER: #f2f4f7;
@GREY_LIGHTEST: #F1F4F8;
@GREY_DARK: #666666;
@GREY_DARKER: #333333;
@GREY_DARKEST: #425565;

@BORDER: #EBEBEB;
@BORDER_INPUT: #d1d7dc;
@BORDER_LIGHT: #e0e3e8;
@BORDER_DARK: #DEE2E6;