// OutFit
@font-face {
    font-family: 'Outfit';
    src: url('@{baseDir}fonts/Outfit-Regular.woff2') format('woff2'),
         url('@{baseDir}fonts/Outfit-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('@{baseDir}fonts/Outfit-Medium.woff2') format('woff2'),
         url('@{baseDir}fonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('@{baseDir}fonts/Outfit-SemiBold.woff2') format('woff2'),
         url('@{baseDir}fonts/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('@{baseDir}fonts/Outfit-Bold.woff2') format('woff2'),
         url('@{baseDir}fonts/Outfit-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('@{baseDir}fonts/Outfit-ExtraBold.woff2') format('woff2'),
         url('@{baseDir}fonts/Outfit-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
// .OutFit

// Roboto
@font-face {
    font-family: 'Roboto';
    src: url('@{baseDir}fonts/Roboto-Regular.woff2') format('woff2'),
         url('@{baseDir}fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{baseDir}fonts/Roboto-Medium.woff2') format('woff2'),
         url('@{baseDir}fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{baseDir}fonts/Roboto-SemiBold.woff2') format('woff2'),
         url('@{baseDir}fonts/Roboto-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{baseDir}fonts/Roboto-Bold.woff2') format('woff2'),
         url('@{baseDir}fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
// .Roboto